// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.li {
  margin-top: 10px;
}


.login-container, .signup-container {
  font-family: sans-serif;
  font-size: 24px;
  width: 380px;
  padding: 10px;
  display:block;
  margin: 66px auto 120px auto;
  margin-top: 40px;
  background-color: #fff;
}

.content-frame-header {
  background-color: rgba(241,238,234,0.2);
  border-bottom: 1px solid #F1EEEA;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #3D3D66;
  display: block;
}

.content-frame-header a {
    color: #2752ff;
    text-decoration: none;
    font-weight: 700
}

input {
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  padding-left: 10px;
  border-radius: 6px;
  border: thin solid #aaa;
  margin: 6px;
  width: 340px;
  -webkit-transition: border 1s;
}


input::selection {
  transition-delay:2s;
  border: 1px solid blue;
}

.login-title, .signup-title {
  font-size:  32px;
  margin: 15px
}

.login-button, .signup-button, .demo {
  height: 40px;
  width: 355px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #25CB68;
  text-align: center;
  color: white;

}

.signup-button:hover {
  background-color: #05AF3C;
}

.demo {
  background-color: #3b5998;
}

#demo-or {
  font-size:12px;
  text-align: center;
  color: black;
  list-style: none;
}

.form-text {
  font-size:12px;
  text-align: center;
  color:#aaa;
  list-style: none;
}

.input-label {
  padding: 5px;
}

.sign-in-field, .signup-field {
  padding: 2px;

}

.check {
  color: #666;
}

.check-box {
  width: 12px;
  height: 15px;
  margin: 0px;
  margin-right: 7px;
  margin-left: 10px;
  vertical-align: middle;
}
.no-account-intro, .no-account, .check {
  font-size: 14px;
  text-decoration: none;
}

.no-account {
  color: blue;
  font-weight: bold;
}

.wrong-form {
  padding-left: 9px;
  font-size: 12px;
  color: blue;
}
