// Place all the styles related to the Rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-sidebar, .reward-sidebar {
  width: 31%;
  padding: 0px 10px 0px 10px
}
.rewards-side-bar {
  margin-right: 10%;
}


.reward-index-item, .purchase-info-pane {
  background: #f8f9fd;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  width: 320px;
  border: thin solid rgba(211, 224, 253, 0.95);
  margin-right: 50px;
}

.reward-index-item:hover {
  cursor: pointer;
  z-index: 1;
  background-color: #16ca5e;
  transition: opacity 0.3s, transform 1s;
}

.show-reward-index-item{
  background-color: #f8f9fd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  width: 30%;
  border: thin solid rgba(211, 224, 253, 0.95);

}

.show-reward-index{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.show-reward-index li {
  display: flex;

  justify-content: flex-start;;
  width: 150%;
  padding-left: 10%;
  padding-bottom: 15px;
}

.reward-index-item-click {
  background: yellow;
}

#reward-input{
  display: none;
  background: white;
}

#reward-input:focus {
  outline: 1px solid blue;
}

#submit-button {
  display: none;
}

.pledge-amt {
  color: #586BE9;
  font-weight: 400;
  font-size: 17px;
  margin: 0px 0px 10px 0px;
}

.reward-item-backers {
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.reward-item-name {
  font-weight: 300;
  margin: 0px 0px 10px 0px;
  font-size: 15px;
}

.reward-item-desc {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 150%;
  color: #aaa;
}
